# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.db-journal
*.db-wal
*.db-shm

# Virtual Environment
.venv/
venv/
ENV/

# Configuration
.env

# Testing / IDEs
.pytest_cache/
.vscode/
.idea/
*.swp
*.swo

# Local Binaries
ngrok.exe
ngrok
bin/
